/* You can add global styles to this file, and also import other style files */


body{
    background-color: #c11a1a;
    font-family: "Poppins", sans-serif;
    margin: 0;
      height: 100%;
    overflow-x: hidden;
  }
  

.card {
    float: left;
    margin: 25px;
   
    
    width: 340px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    box-shadow:
        1px 1px #303030,
        2px 2px #303030,
        3px 3px #303030,
        4px 4px #303030,
        5px 5px #303030,
        6px 6px #303030,
        7px 7px #303030,
        8px 8px #303030,
        9px 9px #303030,
        10px 10px #303030;
        
}

.card .header {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    height: 30px;
    color: #000000;
    background: #FFFFFF;
    padding: 10px 5rem;
    border: solid #303030 3px;
}

.card .content {
    font-size: 16px;
    color: #FFFFFF;
    background: #A379FA;
    padding: 20px;
    border-right: solid #303030 3px;
    border-bottom: solid #303030 3px;
    border-left: solid #303030 3px;
}



.send_input {
    margin-top: 3%;
    margin-left: 9%;
    padding: 0.5em 0.7em;
    border: 2px solid black;
    border-radius: 0.5em;
    box-shadow: 2px 2px 0px black;
    transition: box-shadow 200ms;
}

.send_input:focus {
    outline: none;
    box-shadow: 0 0 0 3px #a7df77;
}




 .card{
    transition: 0.3s;
  }
 .card:hover{
    transform: scale(1.1);
   
  }



.img {
    padding-top: 1%;
    padding-left: 1%;
    height: 390px;
    width: 290px;
    
}

.btn {
    height: 30px;
    width: 70px;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 2%;
}



.chip{
  color: #801c1c;
}